<footer class="footer">
  <small>
    <a href="https://relaxy.herokuapp.com/">Relaxy</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Terms of service", '#' %></li>
    </ul>
  </nav>
</footer>